<!-- ============================================ -->
<!--                   Logos                      -->
<!-- ============================================ -->

<section id="logos-2350">
    <div class="cs-container">
        <!--Ideally you want to use svg's for the file path image, which is why these aren't wrapped in picture elements for different screen sizes-->
        <div class="cs-track">
            <div class="cs-row">
                <img class="cs-logo logo1" src="/assets/images/logos/1.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
                <img class="cs-logo logo2" src="/assets/images/logos/2.png" alt="logo" width="229" height="55" loading="lazy" decoding="async">
                <img class="cs-logo logo3" src="/assets/images/logos/3.png" alt="logo" width="235" height="53" loading="lazy" decoding="async">
            </div>
            <div class="cs-row">
                <img class="cs-logo logo4" src="/assets/images/logos/4.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
                <img class="cs-logo logo5" src="/assets/images/logos/5.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
                <img class="cs-logo logo6" src="/assets/images/logos/6.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
            </div>
            <!-- duplicate set for seamless scrolling -->
            <div class="cs-row">
                <img class="cs-logo logo1" src="/assets/images/logos/1.png" alt="logo" width="287" height="65" loading="lazy" decoding="async">
                <img class="cs-logo logo2" src="/assets/images/logos/2.png" alt="logo" width="229" height="55" loading="lazy" decoding="async">
                <img class="cs-logo logo3" src="/assets/images/logos/3.png" alt="logo" width="235" height="53" loading="lazy" decoding="async">
            </div>
            <div class="cs-row">
                <img class="cs-logo logo4" src="/assets/images/logos/4.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
                <img class="cs-logo logo5" src="/assets/images/logos/5.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
                <img class="cs-logo logo6" src="/assets/images/logos/6.png" alt="logo" width="228" height="61" loading="lazy" decoding="async">
            </div>
        </div>
    </div>
</section>
           