{# <footer id="cs-footer-1783">
 <div class="cs-card-group">
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="/assets/svgs/dumbbell.svg" alt="location" loading="lazy" decoding="async" height="32" width="32">
                <img class="cs-mask" src="/assets/svgs/single-splash-medium.svg" alt="" aria-hidden="true" loading="lazy" decoding="async" height="120" width="120">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Join Today</h3>
                <span class="cs-card-info">Your next session starts here.<br>Start today.</span>
            </div>
        </div>
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-footer-clock.svg" alt="clock" loading="lazy" decoding="async" height="32" width="32">
                <img class="cs-mask" src="/assets/svgs/single-splash-medium.svg" alt="" aria-hidden="true" loading="lazy" decoding="async" height="120" width="120">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Working Hours</h3>
                <span class="cs-card-info">Monday to Saturday: 10:00 to 20:00 </span>
                <span class="cs-card-info">Sunday: Closed</span>
            </div>
        </div>
        <div class="cs-card">
            <picture class="cs-picture">
                <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-footer-call.svg" alt="phone" loading="lazy" decoding="async" height="32" width="32">
                <img class="cs-mask cs-mask-desktop" src="/assets/svgs/single-splash-medium.svg" alt="" aria-hidden="true" loading="lazy" decoding="async" height="120" width="120">
                <img class="cs-mask cs-mask-mobile" src="/assets/svgs/single-splash-dark.svg" alt="" aria-hidden="true" loading="lazy" decoding="async" height="120" width="120">
            </picture>
            <div class="cs-flex">
                <h3 class="cs-h3">Contact</h3>
                <a href="tel:{{client.phoneForTel}}" class="cs-card-info">{{client.phoneForTel}} </a>
                <a href="mailto:{{client.email}}" class="cs-card-info">{{client.email}}</a>
            </div>
        </div>
        {# <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/long-texture-dark.svg" alt="graphic" height="151" width="1920" loading="lazy" decoding="async"> #}
    </div>
</footer> #}