/*-- -------------------------- -->
<---           Table            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #table-1835 {
        padding: var(--sectionPadding);
        position: relative;

        .cs-container {
            padding-top: 3rem;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            margin: 0 0 (24/16rem) 0;
        }

        .cs-button-group {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: (12/16rem);
        }

        .cs-button {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 8px - 16px vertical */
            /* 24px - 32px horizontal */
            padding: clamp(0.5rem, 3vw, 1rem) clamp(1.5rem, 5vw, 2rem);
            background-color: #fff;
            color: var(--bodyTextColor);
            border: 1px solid #e8e8e8;
            transition: background-color 0.3s, color 0.3s;

            &:hover {
                background-color: var(--primaryLight);
                cursor: pointer;
                color: #f7f7f7;
            }

            &.cs-active {
                background-color: var(--primary);
                color: #f7f7f7;
            }
        }

        .cs-table-wrapper {
            width: 100%;
            overflow-x: auto;
            transition: transform 0.7s, opacity 0.3s, visibility 0.5s, top 0.3s, left 0.3s;
            /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;
            transform: scaleY(1);

            &.cs-hidden {
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden tables have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                position: absolute;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the table won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the bottom:0 value, the table won't go past that position when it animates */
                bottom: 0;
                left: 0;
                /* prevents the hidden tables from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0);

                .cs-table {
                    opacity: 0;
                    /* when table is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-table */
                    transform: translateY(2.1875rem);
                }
            }
        }

        .cs-table {
            width: 100%;
            /* removes the default space between table cells that normally exists */
            border-collapse: collapse;
            // z-index: 1;
        }

        .cs-thead,
        .cs-tbody {
            width: 100%;
        }

        .cs-th,
        .cs-td,
        .cs-cta {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: center;
            /* 80px - 120px */
            min-width: clamp(5rem, 16vw, 7.5rem);
            padding: (16/16rem) (20/16rem);
            background-color: #ffffff;
            color: var(--headerColor);
            border: 1px solid #e8e8e8;
        }

        .cs-thead {
            .cs-th {
                background-color: #fee8e8;
                border: 1px solid #fdd2d2;
            }
        }

        .cs-cta {
            font-weight: 700;
            width: 100%;
            color: var(--primary);
            border: none;
            display: block;
            text-decoration: none;
            transition: 0.3s color;

            &:hover {
                color: #000;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        .cs-graphic {
            width: 100%;
            min-width: 75rem;
            height: auto;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

@media only screen and (min-width: 48rem) {
    #table-1835 {
        .cs-container {
            padding-top: 5rem;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #table-1835 {
            .cs-button {
                background-color: var(--medium);
                color: var(--bodyTextColorWhite);
                border-color: var(--accent);

                &.cs-active {
                    background-color: var(--primary);
                }
            }

            .cs-th,
            .cs-td,
            .cs-cta {
                background-color: var(--medium);
                color: var(--bodyTextColorWhite);
                border-color: var(--accent);
            }

            .cs-thead {
                .cs-th {
                    background-color: var(--accent);
                }
            }

            .cs-cta {
                color: var(--primaryLight);

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1832 {
        padding: var(--sectionPadding);
        padding-top: clamp(1rem, 6vw, 2rem);
        background-color: var(--lightDark);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
            z-index: 1;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 26ch;
            margin: 0;
        }

        .cs-flex-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: (48/16rem);
        }

        .cs-flex-group--reverse {
            /* Keep image on top for mobile; reverse only at tablet+ */
            flex-direction: column;
        }

        .cs-review-group {
            text-align: center;
            max-width: (860/16rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            z-index: 1;
        }

        .cs-stars {
            width: (162/16rem);
            height: auto;
            margin: 0 0 (24/16rem);
            display: block;
        }

        .cs-quote {
            /* 244px - 340px */
            width: clamp(15.25rem, 25vw, 21.25rem);
            height: auto;
            margin: 0 0 (24/16rem) 0;
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }

        .cs-review-text {
            /* 25px - 39px */
            font-size: clamp(1.5625rem, 3vw, 2.4375rem);
            line-height: 1.2em;
            font-weight: bold;
            text-align: inherit;
            margin: 0 0 (40/16rem) 0;
            color: var(--headerColor);
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: inherit;
            font-weight: 700;
            margin: 0 0 (4/16rem) 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.2em;
            text-align: inherit;
            margin: 0;
            color: var(--primary);
            display: block;
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 70% of the vale of 1em, changes at desktop */
            font-size: ~"min(3.7vw, 1rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (372/16em);
            height: (352/16em);
            position: relative;
            z-index: -1;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .cs-dark {
            display: none;
        }

        .cs-waves {
            width: 55vw;
            /* 400px - 566px */
            max-width: clamp(25rem, 40vw, 35.375rem);
            height: auto;
            opacity: 0.5;
            position: absolute;
            top: 0;
            /* 100px - 160px */
            right: ~"calc(clamp(6.25rem, 17vw, 10rem)*-1)";
            z-index: -1;

            img {
                width: 100%;
            }
        }

        .cs-background {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: .12;
                /* Makes img tag act as a background image */
                object-fit: cover;
            }
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1832 {

        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-flex-group {
            flex-direction: row;
            justify-content: space-between;
        }

        .cs-flex-group--reverse {
            flex-direction: row-reverse;

            .cs-quote {
                left: 0;
                right: auto;
                transform: none;
            }
        }

        .cs-image-group {
            font-size: ~"min(1.68vw, 1rem)";
            /* prevents flexbox from squishing it */
            flex: none;
        }

        .cs-review-group {
            text-align: left;
            width: 65vw;
            align-items: flex-start;
        }

        .cs-quote {
            left: auto;
            right: 0;
            transform: none;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1832 {
            background-color: var(--medium);

            .cs-title,
            .cs-text,
            .cs-review-text,
            .cs-name,
            .cs-job {
                color: var(--bodyTextColorWhite);
            }

            .cs-quote {
                opacity: .05;
            }

            .cs-text {
                opacity: 0.8;
            }

            .cs-light {
                display: none;
            }

            .cs-dark {
                display: block;
            }

            .cs-background {
                img {
                    filter: grayscale(1) brightness(1000%);
                }
            }
        }
    }
}


/*-- -------------------------- -->
<---           Events           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #events-1764 {
        background-color: var(--lightDark);
        /* centers buttons */
        text-align: center;
        padding: var(--sectionPadding);
        padding-top: clamp(1rem, 6vw, 2rem);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            /* max width of 18 characters, includes spaces between words */
            // max-width: 18ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            /* changes to a grid on desktop */
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-item {
            text-align: left;
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            grid-column: span 12;
            position: relative;
            z-index: 1;
            transition: box-shadow 0.3s, border-color 0.3s;
            box-shadow: 0px 4px 80px 0px rgba(26, 26, 26, 0.08);

            &:hover {
                box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.1);
                border-color: none;

                .cs-picture {
                    img {
                        opacity: 0.3;
                        transform: scale(1.1);
                    }
                }

                .cs-h3 {
                    color: var(--primary);
                }
            }
        }

        .cs-picture {
            width: 100%;
            /* 280px - 320px */
            height: clamp(17.5rem, 22vw, 20rem);
            background-color: var(--primaryLight);
            overflow: hidden;
            display: block;
            position: relative;
            z-index: 1;
            /* prevents flexbox from squishing it */
            flex: none;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.6s, opacity 0.3s;
            }
        }

        .cs-info {
            height: 100%;
            /* prevents padding and border from affecting height and width */
            box-sizing: border-box;
            /* 24px - 28px vertical */
            /* 16px - 28px sides */
            padding: clamp(1.5rem, 2vw, 1.75rem) clamp(1rem, 2vw, 1.75rem);
            padding-bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            z-index: 2;
        }

        .cs-h3 {
            /* 20px - 31px */
            font-size: clamp(1.25rem, 3vw, 1.9375rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: inherit;
            margin: 0 0 (20/16rem) 0;
            color: var(--headerColor);
            transition: color 0.3s;
        }

        .cs-details {
            display: flex;
            flex-direction: column;
            gap: (12/16rem);
        }

        .cs-opening,
        .cs-time {
            font-size: (14/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (4/16rem);
        }

        .cs-icon {
            width: (24/16rem);
            height: auto;
        }

        .cs-bold {
            font-weight: 700;
        }

        .cs-bar {
            width: 100%;
            height: (8/16rem);
            margin: (24/16rem) 0;
            background-color: #fdd2d2;
            position: relative;

            &::after {
                content: "";
                /* percent of the bar filled */
                width: 65%;
                height: 100%;
                background-color: var(--primary);
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-instructor {
            /* 24px - 28px vertical */
            /* 16px - 28px sides */
            padding: clamp(1.5rem, 2vw, 1.75rem) clamp(1rem, 2vw, 1.75rem);
            border-top: 1px solid #dadada;
            display: flex;
            align-items: center;
        }

        .cs-instructor-info {
            display: flex;
            flex-direction: column;
        }

        .cs-portrait {
            width: (60/16rem);
            height: (60/16rem);
            margin-right: (12/16rem);
            /* hides overflow from border-radius */
            overflow: hidden;
            border-radius: (60/16rem);
            position: relative;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-name {
            font-size: (20/20rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-job {
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-price {
            font-size: (31/16rem);
            font-weight: 900;
            line-height: 1.2em;
            margin-left: auto;
            color: var(--headerColor);
        }

        .cs-graphic {
            width: 100%;
            min-width: 120rem;
            height: auto;
            position: absolute;
            bottom: -1rem;
            left: 50%;
            z-index: -1;
            transform: translateX(-50%);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #events-1764 {
        .cs-card-group {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
        }

        .cs-item {
            grid-column: span 4;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #events-1764 {
            background-color: var(--medium);

            .cs-title,
            .cs-h3,
            .cs-opening,
            .cs-time,
            .cs-price,
            .cs-name,
            .cs-job {
                color: var(--bodyTextColorWhite);
            }

            .cs-opening,
            .cs-time,
            .cs-job {
                opacity: 0.8;
            }

            .cs-item {
                background-color: rgba(0, 0, 0, 0.2);
                border-color: rgba(255, 255, 255, 0.2);

                &:before {
                    opacity: 0.3;
                }
            }

            .cs-icon {
                filter: brightness(0) invert(1);
            }

            .cs-picture {
                border-color: #fff;
            }

            .cs-instructor {
                border-color: rgba(255, 255, 255, .1);
            }
        }
    }
}