/*-- -------------------------- -->
<---        Meet The Team       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
	#meet-team-2435 {
		padding: var(--sectionPadding);
        padding-top: clamp(7rem, 8vw, 12rem);
		overflow: hidden;
		position: relative;
		z-index: 1;

		.cs-container {
			width: 100%;
			max-width: (1280/16rem);
			margin: auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			/* 48px - 64px */
			gap: clamp(3rem, 6vw, 4rem);
		}

		.cs-content {
			/* set text align to left if content needs to be left aligned */
			text-align: center;
			width: 100%;
			max-width: (900/16rem);
			display: flex;
			flex-direction: column;
			/* centers content horizontally, set to flex-start to left align */
			align-items: center;
		}

		.cs-topper {
			color: var(--secondary);
		}

		.cs-title, .cs-name{
            color: (var(--headerColor));
        }

		.cs-text {
			max-width: 100%;
			color: var(--bodyTextColor);
		}

		.cs-button-solid {
			font-size: (16/16rem);
			/* 46px - 56px */
			line-height: clamp(2.875em, 5.5vw, 3.5em);
			text-decoration: none;
			font-weight: 700;
			text-align: center;
			min-width: (150/16rem);
			margin: 0;
			/* prevents padding from adding to the width */
			box-sizing: border-box;
			padding: 0 (24/16rem);
			background-color: var(--primary);
			border-radius: (4/16rem);
			color: #fff;
			display: inline-block;
			position: relative;
			z-index: 1;

			&:before {
				content: "";
				width: 0%;
				height: 100%;
				background: #000;
				opacity: 1;
				border-radius: (4/16rem);
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				transition: width 0.3s;
			}

			&:hover {
				&:before {
					width: 100%;
				}
			}
		}

		.cs-card-group {
			width: 100%;
			margin: 0;
			padding: 0;
			display: grid;
			grid-template-columns: repeat(12, 1fr);
			row-gap: (32/16rem);
			column-gap: (16/16rem);
		}

		.cs-item {
			list-style: none;
			grid-column: span 12;
			display: flex;
			flex-direction: column;
            background-color: var(--lightDark);

			&:hover {
				.cs-social {
					transform: translateY(0);
				}
			}
		}

		.cs-picture-wrapper {
			width: 100%;
			height: (360/16rem);
			margin-bottom: (20/16rem);
			overflow: hidden;
			position: relative;
		}

		.cs-picture {
			width: 100%;
			height: 100%;
			display: block;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.cs-social {
			padding: (24/16rem) (32/16rem);
			margin: auto;
			gap: (24/16rem);
			overflow: hidden;
			transform: translateY(150%);
			display: flex;
			justify-content: center;
			position: absolute;
			left: (16/16rem);
			right: (16/16rem);
			bottom: (16/16rem);
			z-index: 1;
			transition: transform 0.3s, opacity 0.3s;

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				background: rgba(3, 7, 17, 0.3);
				backdrop-filter: blur(22px);
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}

		.cs-link {
			width: (24/16rem);
			height: auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.cs-flex {
			gap: (24/16rem);
			color: var(--bodyTextColor);
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
            padding: 1rem
		}

		.cs-info {
			display: flex;
			flex-direction: column;
		}

		.cs-name {
			font-size: (25/16rem);
            line-height: 1.4em;
			font-weight: 700;
			margin: 0 0 (4/16rem);
		}

		.cs-job {
			font-size: (16/16rem);
			line-height: 1.5em;
			font-weight: 400;
			margin: 0;
            color: var(--primary);
		}

		.cs-rating {
			font-size: (39/16rem);
			font-weight: 700;
            line-height: 1.2em;
			margin: 0;
			gap: (16/16rem);
		}

		.cs-rating-count {
			font-size: (16/16rem);
			line-height: 1.5em;
			text-transform: uppercase;
			font-weight: 400;
			margin: 0;
		}

        .cs-item-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

		.cs-background {
			width: 100%;
			height: 100%;
			opacity: 0.08;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -2;

			img {
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

/* Tablet - 500px */
@media only screen and (min-width: 31.25rem) {
	#meet-team-2435 {
		.cs-item {
			grid-column: span 6;
		}
	}
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
	#meet-team-2435 {
		.cs-card-group {
			max-width: none;
		}

		.cs-item {
			grid-column: span 3;

			&:nth-of-type(odd) {
				.cs-picture-wrapper {
					height: (420/16rem);
				}
			}
		}
	}
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
	body.dark-mode {
		#meet-team-2435 {
			background-color: var(--dark);

            .cs-item {
                background-color: var(--medium);
            }

            .cs-title, .cs-text, .cs-name, .cs-rating, .cs-rating-count, .cs-item-text {
                color: var(--bodyTextColorWhite);
                transition: color .3s;
            }
		}
	}
}
                                

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs-1813 {
        padding: var(--sectionPadding);
        /* 100px - 200px */
        padding-bottom: clamp(6.25rem, 8vw, 12.5rem);
        /* clips anything overflowing */
        overflow: hidden;
        position: relative;
        z-index: 1;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (542/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            position: relative;
            z-index: 3;
        }

        .cs-text {
            margin-bottom: (16/16rem);
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-ul {
            width: 100%;
            max-width: (630/16rem);
            margin: 0 0 (32/16rem);
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (16/16rem);
            column-gap: (12/16rem);
        }

        .cs-li {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            grid-column: span 4;
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);
        }

        .cs-li-picture {
            /* 60px - 80px */
            width: (48/16rem);
            height: (48/16rem);
            margin: 0;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            /* prevents flexbox from squishing it */
            flex: none;
            position: relative;
            z-index: 1;

            &:before {
                /* background color */
                content: '';
                width: 100%;
                height: 100%;
                background: var(--primary);
                opacity: .1;
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                z-index: -1;
            }
        }

        .cs-li-icon {
            width: (24/16rem);
            height: auto;
            display: block;
        }

        .cs-h3 {
            /* 13px - 16px */
            font-size: clamp(.8125rem, 2vw, 1rem);
            line-height: 1.2em;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: .1em;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-li-text {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-align: left;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
	    	font-weight: 700;
	        text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width .3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-image-group {
            /* scales the whole section down and ties the font size to the vw and stops at 75% of the vale of 1em, changes at desktop */
            font-size:~"min(2.2vw, .70rem)";
            /* everything inside this box is in ems so we can scale it all down proportionally with a font size */
            width: (643/16em);
            height: (608/16em);
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            object-fit: cover;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .cs-mask {
            width: 101%;
            height: 101%;
            object-fit: cover;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 1;
            transform: translate(-50%, -50%);
        }

        .cs-graphic {
            width: 100%;
            min-width: (1200/16rem);
            height: auto;
            object-fit: cover;
            position: absolute;
            bottom: 0;
            left: 50%;
            z-index: 1;
            transform: translateX(-50%);
        }

        .cs-dark {
            display: none;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-1813 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        .cs-image-group {
            /* set to inherit at Large Desktop */
            font-size:~"min(1.1vw, 1rem)";
            flex: none;

            &:before {
                display: block;
            }
        }

        .cs-content {
            width: 51%;
        }
    }
}

/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #sbs-1813 {
        .cs-image-group {
            font-size: inherit;
        }

        .cs-li {
            flex-direction: row;
        }
    }
}

/* Large Desktop - 2000px */
@media only screen and (min-width: 125rem) {
    #sbs-1813 {
        /* pushes down when the screen size gets too big and the graphic starts getting too tall and creeps up on the content above it */
        padding-bottom: 9vw;
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs-1813 { 
            .cs-title, .cs-text, .cs-li-text, .cs-h3 {
                color: var(--bodyTextColorWhite);
                transition: color .3s;
            }

            .cs-text, .cs-h3 {
                opacity: .8;
            }

            .cs-light {
                display: none;
            }

            .cs-dark {
                display: block;
            }
        }
    }
}
                                
                                
/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1775 {
        padding: var(--sectionPadding);
        padding-top: clamp(0rem, 4vw, 2rem);
        position: relative;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (784/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 24ch;
            margin: 0;
            color: var(--headerColor);
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            grid-row: span 1;
        }

        .cs-picture {
            width: 100%;
            min-height: (340/16rem);
            display: block;
            position: relative;
            /* causes this element to grow to its maximum width, before its sibling elements take up the remaining space */
            flex: 1 0 auto;

            img {
                width: 100%;
                height: 100%;
                /* Makes img tag act as a background image */
                object-fit: cover;
                /* pushes the top of the image to the top of the container */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-review {
            text-align: left;
            width: 100%;
            /* prevents padding from affecting height and wodth */
            box-sizing: border-box;
            /* left & right 16px - 32px */
            padding: (32/16rem) clamp(1rem, 5vw, 2rem);
            border-top: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
        }

        .cs-info {
            background-color: rgba(0, 0, 0, 0);
            box-shadow: 0px 12px 80px 0px rgba(26, 26, 26, 0.1);
        }

        .cs-name {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0 0 (4/16rem);
            color: #000;
            display: block;
        }

        .cs-flex {
            width: 100%;
            margin-bottom: (24/16rem);
            padding-bottom: (20/16rem);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .cs-desc {
            font-size: (16/16rem);
            font-weight: 500;
            line-height: 1.5em;
            color: var(--primary);
            display: block;
        }

        .cs-item-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 3vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: #000;
            opacity: 0.8;
        }

        .cs-boxes {
            display: flex;
        }

        .cs-box {
            /* 24px - 32px top & bottom, 16px - 32px left & right */
            padding: clamp(1.5rem, 2vw, 2rem) clamp(1rem, 2vw, 2rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            /* causes the boxes to grow, equally, within the parent container */
            flex: 1;
        }

        .cs-box-light {
            background-color: #767676;
        }

        .cs-box-dark {
            background-color: #5f5f5f;
            color: #f7f7f7;
        }

        .cs-weight {
            /* 25px - 31px */
            font-size: clamp(1.5625rem, 4vw, 1.9375rem);
            font-weight: 900;
            line-height: 1.2em;
            margin: 0 0 (4/16rem);
            color: var(--bodyTextColorWhite);
            display: flex;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-arrow {
            width: (18/16rem);
            height: (18/16rem);
        }

        .cs-tagline {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2;
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1775 {
        .cs-item {
            flex-direction: row;
        }

        .cs-picture {
            max-width: (240/16rem);
            min-height: 0;
        }
    }
}

/* Large Desktop - 1200px */
@media only screen and (min-width: 75rem) {
    #reviews-1775 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews-1775 {
            background-color: var(--medium);

            .cs-title, .cs-name, .cs-item-text{
                color: var(--bodyTextColorWhite);
                transition: color .3s;
            }
        }
    }
}