/*-- -------------------------- -->
<---        Meet the Team       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1788 {
        padding: var(--sectionPadding);

        .cs-container {
            padding-top: 3rem;
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title {
            max-width: 15ch;
            /* 24px - 32px */
            margin: 0 0 clamp(1.5rem, 1vw, 2rem);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            font-weight: 700;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-align: center;
            text-decoration: none;
            min-width: (150/16rem);
            margin: 0;
            /* prevents padding from adding to the width */
            box-sizing: border-box;
            padding: 0 (24/16rem);
            background-color: var(--primary);
            color: #fff;
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;

            &:before {
                content: "";
                width: 0%;
                height: 100%;
                background: #000;
                opacity: 1;
                border-radius: (4/16rem);
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-gallery {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(19.0625rem, 1fr));
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
            position: relative;
        }

        .cs-item {
            overflow: hidden;
            position: relative;
        }

        .cs-image {
            /* 260px - 440px */
            min-height: clamp(16.25rem, 60vw, 27.5rem);
            display: block;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                /* makes it act like a background image */
                object-fit: cover;
                /* sends top of the image to the top of the parent container */
                object-position: top;
                position: absolute;
                top: 0;
                left: 0;
            }
        }

        .cs-socials {
            list-style: none;
            margin: 0;
            padding: (18/16rem) (10/16rem);
            background-color: var(--primary);
            display: flex;
            flex-direction: column;
            gap: (20/16rem);
            position: absolute;
            top: 0;
            right: (16/16rem);
            z-index: 1;
            /* for the hover effects on tablet+ */
            transition: top 0.3s cubic-bezier(0.55, 0.21, 0.64, 0.98);
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            display: block;
        }

        .cs-info {
            min-width: (260/16rem);
            padding: (16/16rem) (20/16rem);
            background: rgba(26, 26, 26, 0.6);
            border-left: 4px solid var(--primary);
            position: absolute;
            right: 0;
            bottom: (16/16rem);
            /* for the hover effects on tablet+. delayed for a better effect on hover */
            transition: right 0.4s cubic-bezier(0.55, 0.21, 0.64, 0.98);
            backdrop-filter: blur(8px);
        }

        .cs-h3 {
            font-size: (20/16rem);
            font-weight: 700;
            line-height: 1.2em;
            text-transform: uppercase;
            margin: 0 0 (4/16rem);
            color: var(--bodyTextColorWhite);
        }

        .cs-job {
            font-size: (16/16rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--primary);
        }
    }
}

/* Tablet - 658px */
@media only screen and (min-width: 41.125rem) {
    #meet-team-1788 {
        .cs-content {
            text-align: left;
            align-items: flex-start;
        }
    }
}
    
/* Desktop - 10024px */
@media only screen and (min-width: 64rem) {
    #meet-team-1788 {
        .cs-socials {
            top: -40%;
        }

        .cs-social {
            opacity: 0;
            transform: translateY(-1rem);
            transition: transform .3s, opacity .4s;
            transition-delay: .1s;
            &:nth-of-type(2) {
                transition-delay: .17s;
            }
            &:nth-of-type(3) {
                transition-delay: .22s;
            }
        }

        .cs-info {
            right: -100%;
        }

        .cs-item {
            &:hover {
                .cs-socials {
                    top: 0;
                }

                .cs-social {
                    opacity: 1;
                    transform: translateY(0rem);
                }

                .cs-info {
                    right: 0;
                }
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #meet-team-1788 {
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
                                